<?xml version="1.0" encoding="utf-8"?>
<module name="Geta.Epi.FontThumbnail" productName="Geta.Epi.FontThumbnail" type="Geta.Epi.FontThumbnail.FontThumbnailModule, Geta.Epi.FontThumbnail" clientResourceRelativePath="" loadFromBin="false">
  <assemblies>
    <add assembly="Geta.Epi.FontThumbnail" />
  </assemblies>
</module>